#!/usr/bin/env python
PACKAGE = "control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

pid_group = gen.add_group("aim")
pid_group.add("aim_p", double_t, 0, "Proportional factor for aiming control",    30, 0,   100)
pid_group.add("aim_d", double_t, 0, "Derivative factor for aiming control",      10, 0,   100)

# 2nd parameter: node, 3rd parameter: prefix for generated config module
exit(gen.generate(PACKAGE, "shooter_node", "Shooter"))
