#!/usr/bin/env python
PACKAGE = "control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

pid_group = gen.add_group("aim")
pid_group.add("aim_pan_p", double_t, 0, "Proportional factor for pan aiming control",    15, 0,   100)
pid_group.add("aim_pan_d", double_t, 0, "Derivative factor for pan aiming control",      0, 0,   100)
pid_group.add("aim_tilt_p", double_t, 0, "Proportional factor for tilt aiming control",    20, 0,   100)
pid_group.add("aim_tilt_d", double_t, 0, "Derivative factor for tilt aiming control",      10, 0,   100)

# 2nd parameter: node, 3rd parameter: prefix for generated config module
exit(gen.generate(PACKAGE, "shooter_node", "Shooter"))
